.addEvent
    width 100%
    position relative
    .formComponent
        height 100%
        position absolute
        left 50%
        top 50%
        width 100%
        transform translate(-50%,-50%)
    .control
        position absolute
        bottom 0
        left 0
        width 100%
        border-top 1px solid #ccc
        height 5rem
        display flex
        align-items center
        flex-direction row-reverse
        div
            margin-right 1rem
            .button
                background-color transparent
                padding 1rem 2.5rem
                font-size 18px
                &:hover
                    background-color black
                    color white
                    cursor pointer
